/* body {
	font-family: sans-serif;
	font-size: calc(0.5em + 1vmin);
	color: #eee;
	background-color: #111;
	width: 90%;
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
} */
.paces {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	padding-top: 100%;
}
.pace {
	font-size: 90%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0.5em;
	text-align: center;
	
	border-radius: 60%;
	/* background-color: rgba(113, 113, 113, 0.1); */
	transition: all ease-in-out 0.2s;
	.quote {
		opacity: 0;
		margin: 0;
		padding: 0;
	}
	&:hover,
	&:focus,
	&:active {
		cursor: grabbing;
		background-color: #111;
		color: #111;
		animation: none !important;
		.quote {
			
			hyphens: auto;
			z-index: 100;
			opacity: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.pace {
	&.js {
		margin: 5%;
		animation: 25s infinite linear rotate;
		
	}
	&.css {
		margin: 10%;
		animation: 20s infinite linear rotate;
	}
	&.html {
		margin: 15%;
		animation: 15s infinite linear rotate;
	}
	&.url {
		margin: 20%;
		animation: 10s infinite linear rotate;
	}
	&.http {
		margin: 25%;
		animation: 7s infinite linear rotate;
	}
	&.tcpip {
		margin: 30%;
		animation: 5s infinite linear rotate;
	}
}
.quote {
	&.js {
		padding: 10%;
	}
	&.css {
		padding: 5%;
	}
	&.html {
		padding: 4%;
	}
}
/* footer {
	text-align: center;
	background-color: #111;
	transform: translateY(-80%);
	padding-top: 2em;
	padding-bottom: 2.5em;
	padding-left: 2em;
	padding-right: 2em;
	margin-left: -2em;
	margin-right: -2em;
	box-shadow: 0 -1em 1em #111;
	a {
		color: #666;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}
	}
} */
.quotes .quote {
	opacity: 0;
	&:target {
		position: absolute;
		top: 0;
		opacity: 1;
	}
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.pace.js {  width: 350px;
    height: 350px;
    margin: auto;
 }
.pace.css {  width: 300px;
    height: 300px;
    margin: auto;
 }
.pace.html {  width: 250px;
    height: 250px;
    margin: auto; }
.pace.url {  width: 200px;
    height: 200px;
    margin: auto; }
.pace.http {  width: 150px;
    height: 150px;
    margin: auto; }
.pace.tcpip {  width: 100px;
    height: 100px;
    margin: auto; }
html[data-theme="neon"] .pace{
&.js{
    border-color: #00ffd1;
    box-shadow: 0 0 10px #00ffd1;
}
border: 1px solid #00ffd1;
background-color: rgba(45, 234, 255, 0.18);
}
html[data-theme="dark"] .pace{
&.js{
    border-color: #60a5fa;
    box-shadow: 0 0 10px #60a5fa;
}
border: 1px solid #4b4e51;
background-color: rgba(85, 85, 85, 0.1);
}
html[data-theme="colorful"] .pace{
&.js{
    border-color: #ff9a9e;
    box-shadow: 0 0 10px #ff9a9e;
}
border: 1px solid #f35257;
background-color: rgba(251, 60, 60, 0.1);
}
html[data-theme="light"] .pace
{
&.js{
    border-color: #0ea5e9;
    box-shadow: 0 0 10px #0ea5e9;
    

}
border: 1px solid #0ea5e9;
background-color: rgba(0, 145, 255, 0.1);
}


@media (max-width: 1268px) { 
	.pace.js {  width: 325px;
	height: 325px;
	margin: auto;
 }
.pace.css {  width: 275px;
	height: 275px;
	margin: auto;
 }
.pace.html {  width: 225px;
	height: 225px;
	margin: auto; }
.pace.url {  width: 175px;
	height: 175px;
	margin: auto; }
.pace.http {  width: 125px;
	height: 125px;
	margin: auto; }
.pace.tcpip {  width: 75px;
	height: 75px;
	margin: auto; }
}

 
@media (max-width: 968px) {
.pace.js { width: 300px; height: 300px; }
.pace.css { width: 250px; height: 250px; }
.pace.html { width: 200px; height: 200px; }
.pace.url { width: 150px; height: 150px; }
.pace.http { width: 100px; height: 100px; }
.pace.tcpip { width: 50px; height: 50px; }
}
